.header-icon {
    width: 27em;
    
    @media (max-width: 1080px) {
      margin-top: 45px;
      width: 78%;
    }

    @media (max-width: 800px) {}
    @media (max-width: 480px) {
      width: 80%;
      margin-top: 80px;
    }
  }