
.section {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Panel styles
.panel {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 960px) {
    min-height: auto;
  }
}

.section-sml { 
  min-height: 80vh;
  height: 80%;

  @media (max-width: 960px) {min-height: auto; height: auto;}
  @media (max-width: 680px) {min-height: auto; height: auto;}
}

.section-projects {
  @media (max-width: 960px) {height: auto;}
}


.headline-header {
  margin-bottom: 40px;
  @media (max-width: 1500px) {margin-bottom: 40px;}
  @media (max-width: 960px) {margin-bottom: 40px;}
  @media (max-width: 480px) {
    margin-bottom: 25px;
  }
}

.section-headline {
  margin-bottom: 80px;
  @media (max-width: 1500px) {margin-bottom: 40px;}
  @media (max-width: 960px) {margin-bottom: 40px;}
  @media (max-width: 480px) {margin-bottom: 30px;}
}

.container {
  position: relative;
  width: 1300px;
  margin: 0;

  @media (max-width: 1500px) {width: 86%;}
}

.container-page {
  position: relative;
  max-width: 1540px;
  margin: 0 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .7s ease;

  @media (max-width: 1080px) {margin: 0 70px 0 70px;}

  @media (max-width: 960px) {
    flex-direction: column;
    margin: 0 80px 0 80px;
  }
  @media (max-width: 680px) {margin: 0 50px 0 50px;}
  @media (max-width: 480px) {margin: 0 30px 0 30px;}
}

.container-grid {
  position: relative;
  max-width: 1540px;
  margin: 0 120px 0 120px;
  width: 1540px;

  h5 {margin-bottom: 4px;}

  @media (max-width: 1080px) {margin: 110px 70px 70px 70px;}
  @media (max-width: 680px) {margin: 90px 50px 40px 50px;}
  @media (max-width: 480px) {margin: 90px 30px 40px 30px;}
}

.title-panel {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
  a {
    width: 200px;
    height: 44px;
    border-radius: 25px;
    border: 2px solid $color2;
    padding: 8px 30px;
  }
  @media (max-width: 1240px) {margin-bottom: 60px;}
  @media (max-width: 680px) {
    margin-bottom: 34px;
    a {width: 140px; padding: 8px 24px;}
  }
  @media (max-width: 480px) {
    a {width: 130px; padding: 8px 20px;}
  }
}

.title-2lines {
  display: block;
  justify-content: left
}

.text-left {
  position: relative;
  width: 42%;

  @media (max-width: 1240px) {width: 43%;}

  @media (max-width: 960px) {
    width: 100%;
    margin-top: 620px;
    padding-right: 80px;
  }
  @media (max-width: 800px) {margin-top: 600px;}
  @media (max-width: 680px) {margin-top: 460px; padding-right: 50px;}
  @media (max-width: 480px) {margin-top: 330px; padding-right: 30px;}
}

.section-p, .services-p {
  font-size: 1.438em;
  line-height: 1.6em;
  margin-bottom: 80px;
  @media (max-width: 1500px) {
    font-size: 1.125em; 
    margin-bottom: 70px;
  }
  @media (max-width: 480px) {
    font-size: 0.9em !important; 
    line-height: 1.4em !important;
    margin-bottom: 30px !important;
  }
}
