.work {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
    margin-bottom: 190px;
    .grid-container {
        margin: 0 120px;
        @media (max-width: 800px) {
            margin: 0 84px;
        }
        h2 {
            margin: 0;
            line-height: 48px;
            span {
                color: #fff;
            }
        }
        .work-grid {
            max-width: 1540px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .grid-card {
                transition: -webkit-transform .4s ease-in-out;
                transition: transform .4s ease-in-out;
                transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
                -webkit-perspective: 1000px;
                perspective: 1000px;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                cursor: url("/img/common/cursor-icon.svg"),auto;
                max-width: 26.5%;
                @media (max-width: 800px) {
                    width: 275px;
                }
                &.card1:nth-child(1) {
                    margin-top: 50px;
                }
                // &.card1:nth-child(1n) {
                //     margin-top: 50px;
                // }
                &.card2 {
                    margin-top: 0px;
                }
                &.card3 {
                    margin-top: 0px;
                }
            }
        }
    }
}
.work-filter, .back-btn {
    position: fixed;
    height: 100%;
    font-size: 1.125em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.back-btn {
    left: 30px;
}